/* small screens */
body {
  text-align: center;
}

.logo {
  width: 150px;
  height: auto;
  text-align: center;

}

header ul {
  text-align: center;
  list-style: none;

}

span {
  text-align: center;
}

.submitButton {
  display: block;
  color: red;
}

 .answerOption {
    display: block;
    text-align: left;
  }

/* tablet - medium screens */
@media screen and (min-width: 520px) {

  header ul {
    text-align: right;
    list-style: none;
    display: inline;
  }

  .logo {
    width: 150px;
    height: auto;
    display: block;
    float: left;
  }

  h1 {
    padding-top: 100px;
    text-align: center;
  }

  .btn-ready {
    text-align: center;
    width: 150;
  }

  .question-answer-form {
    text-align: center;
  }

  .answer {
    text-align: left;
    font-size: 16px;
  }
}
